<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
</head>
<body>
    {% extends 'mainPages/base.html' %}

    {% block title %}Введите новый пароль{% endblock %}

    {% block content %}
        <h1>Установите новый пароль!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Изменить мой пароль">
        </form>
    {% endblock %}
</body>
</html>