{% extends 'mainPages/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img width="150" height="100" src="{% static 'img/logo.svg' %}" alt="logo">
        <h1 class="display-4">Альянс</h1>
        <p>
          Альянс (также называемый Великий Альянс) является одной из двух сильных фракций смертных рас Азерота в противовес Орде. Альянс состоит из сильных культурных групп, связанных не отчаянием и необходимостью, как Орда, а своими глубокими обязательства перед такими абстрактными понятиями, как благородство и честь.
          Альянс также был известен как Альянс Лордерона во времена его создания в Лордероне. Однако, Альянс был вынужден отозвать свои основные силы в Калимдор и на южный континент, Азерот, и в Каз Модан, после чумы разорившей королевство Лордерон несколько лет назад.
          Хотя ногие народы живущие в Лордероне не так сильны, как они когда-то были, они предъявили свою лояльность Великому Альянсу, в надежде снова стать сильными. В течении многих лет, новые члены и расы присоединялись к Альянсу чтобы стать единой силой.
        </p>
    </div>
{% endblock %}