{% extends 'mainPages/base.html' %}
{% load static %}
{% block title %}Фракции{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img width="150" height="100" src="{% static 'img/logo.svg' %}" alt="logo">
        <h1 class="display-4">Игровые фракции</h1>
        <div class="text-center">
            <ul style="
            list-style: none;
            display: flex;">
            <li style="margin: 20px" >
                <h2 style="align-items: center; justify-content: center">Альянс</h2>
                <img width="170" height="220" src="{% static 'img/allience.jpg' %}">
                <p class="text-left">
                    Старая фракция, переродившаяся после
                    падения Лордерона, нынешние Люди сочетают
                    в себе как привычных союзников,
                    объединенных многовековой историей, так и
                    новых представителей, примкнувшим к ним по
                    той или иной причине - будь то близость
                    ценностей, долг или необходимость. Связанные
                    своим стремлением к справедливости и порядку,
                    отринувшие межрасовую рознь, Люди
                    восстанавливают свое утерянное величие,
                    стремясь вернуть то золотое время, когда они
                    процветали. Благородство и отвага - вот что
                    ценят Люди в своих соратниках.
                </p>
            </li>
            <li style="margin: 20px">
                <h2>Ренегаты</h2>
                <img width="220" height="206" src="{% static 'img/renegades.jpg' %}">
                <p class="text-left">
                    Изгнанники, отступники, а также те, кому
                    некуда идти - метку Ренегата носят все, кто
                    сбросил оковы Орды и Альянса, избрав свободу
                    и право участвовать в этой войне на своих
                    условиях - либо не участвовать вообще. Центр
                    их обитания сосредоточен в Бухте Торговцев,
                    но агентов Золотого Скорпида можно встретить
                    и в Шаттрате, и в любой другой значимой точке
                    мира. Представитель любой расы может стать
                    Ренегатом, но не стоит обольщаться - этот путь
                    не для слабых духом.
                </p>
            </li>
            <li style="margin: 20px">
                <h2>Орда</h2>
                <img width="170" height="220" src="{% static 'img/horde.jpg' %}">
                <p class="text-left">
                    Коалиция разрозненных рас и культур,
                    объединившихся чтобы противостоять
                    жестокому миру, стремящемуся сломить их
                    - Орки стала фракцией, объединенной
                    товарищеской связью, традициями, а также
                    желанием изгнанников выжить.
                    Сосредоточенная, свирепая, а иногда и
                    чудовищная, Орки ценят силу и честь и
                    неуклонно выступают против тех, кто угрожает
                    идеалам свободы и надежды. Столь
                    причудливое сочетание, казалось бы,
                    несовместимых рас - но связь этой молодой
                    фракции крепка, а ценности неизменны.
                </p>
            </li>
        </ul>
        </div>
    </div>
{% endblock %}