{% extends 'mainPages/base.html' %}
{% load static %}
{% block title %}Расы{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img width="150" height="100" src="{% static 'img/logo.svg' %}" alt="logo">
        <h1 class="display-4">Игровые расы</h1>
        <div class="text-center">
            <ul style="
            list-style: none;
            display: flex;">
            <li style="padding: 20px">
                <h2>Люди</h2>
                <img src="{% static 'img/human.jpg' %}">
                <p class="text-left">
                    Человек очень вынослив и силен, что позволяет ему носить дополнительное снаряжение с собой в инвентаре.
                    Человек носит тяжелые доспехи и ипользует двуручное оружие.
                    Игровой класс - танк.
                    Человек относится к фракции - Люди.
                </p>
            </li>
            <li style="padding: 20px">
                <h2>Орки</h2>
                <img src="{% static 'img/ork.jpg' %}">
                <p class="text-left">
                    Орки пришли из другого мира, отличного от мира людей.
                    Они закалены и устоят перед любой опасностью.
                    Орки носят тяжелые доспехи или магические накидки, что позволяют им без проблем использовать магию.
                    Игровые классы - танк/маг.
                    Орки относятся к фракции - Орки.
                </p>
            </li>
           <li style="padding: 20px">
                <h2>Гоблины</h2>
                <img src="{% static 'img/goblin.jpg' %}">
                <p class="text-left">
                    Гоблины очень умные и продвинутые существа.
                    Их изобретения не может переплюнуть ни одна раса в мире лордерона.
                    Они представляют собой фракцию - Ренегаты.
                    Гоблины очень слабы для тяжелых доспехов, поэтому носят легкие доспехи, или робы магов.
                    Гоблины прерожденные воры и обманщики.
                    Игровые классы - дд/маг/хил.
                </p>
           </li>
        </ul>
        </div>
    </div>
{% endblock %}