{% extends 'mainPages/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img width="150" height="100" src="{% static 'img/logo.svg' %}" alt="logo">
        <h1 class="display-4">Ренегаты</h1>
        <p>
            Кто такие ренегаты? Изгои, предатели, вольные наемники, которым враждебны Альянсу, Орде и другим ренегатам. Ренегаты могут быть в группе, рейде, гильдии с другими ренегатами или с альянсом, если знают всеобщий язык (с ордой если знают орочий). Ренегатам недоступны столицы, города и лагери Альянса и Орды со всеми сопутствующими заданиями и продавцами, потому что они им враждебны. Так-же ренегатам недоступен Даларан, но есть способ туда попасть. У ренегатов есть свой способ перемещения в некоторые города через траспортер, который стоит несколько золотых монет. В канализации Даларана есть торговец по имени Френки - он продает маскировку. Столицы нет, но есть лагерь Золотых Скорпидов, в Бухте Торговцев в Седых холмах, который дает приют ренегатам. Так-же ренегаты могут находится в нейтральных городах и лагерях, таких как Шаттрат, Канализация Даларана, Пиратская Бухта, Прибамбаск и другие.
        </p>
    </div>
{% endblock %}